@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$primary: #5D1F98;
$secondary: #A62FB7;
$link-color: #ffffff;
$background-color: #1A1323;
$nav-height: 60px;